.place{
    text-align: center;
}
.place h1{
    vertical-align: top;
    text-align: left;
    padding-left: 15px;
    font-size: 30px
}

.place article{
    width: 390px;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
}
.place h2{
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
}
